<div class='wells'>
<form (ngSubmit)='plusquote()' #quoteForm='ngForm'>
  <div class="form-group">
    <label>Quote:</label>
    <br>
    
  <textarea name="" id=""  rows="3"  [(ngModel)]="newQuote.quoter" name="quoter" #quoter="ngModel" class="form-control"></textarea>
  <div [hidden]="quoter.valid || quoter.pristine" class="alert alert-danger">
      <p> quote is Required</p>
      
  </div>
</div>
  {{newQuote.quoter}}
  <br>
  <div class="form-group">
  <label>Author:</label>
  <br>
   <input type="text"  [(ngModel)]="newQuote.author" name="author" #author="ngModel" class="form-control" >
   <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
      <p> Name is Required</p>
   </div>
   </div>  
   <br>
   <div class="form-group">
    <label>Date:</label>
    <br>
    <input type="date"  [(ngModel)]="newQuote.date" name="date" #date="ngModel"  class="form-control">
   <br>
   </div>
   <button type = "submit">Post Quote</button>
</form>
</div>
